In [2]:
import numpy as np
import pandas as pd

In [3]:
arules=pd.read_csv("book.csv")
arules

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [4]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\abhinav\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\abhinav\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\abhinav\anaconda3\lib\site-packages (from mlxtend) (1.19.5)
Requirement already satisfied: joblib>=0.13.2 in c:\users\abhinav\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\abhinav\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\abhinav\anaconda3\lib\site-packages (from mlxtend) (0.24.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\abhinav\anaconda3\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: setuptools in c:\users\abhinav\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: pillow>=6.2.0 in c:\users\abhinav\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\abhinav\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\abhinav\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\abhinav\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\abhinav\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six in c:\users\abhinav\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\abhinav\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abhinav\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)

In [5]:
from mlxtend.frequent_patterns import apriori,association_rules
frequent_books = apriori(arules, min_support=0.05,max_len=5,use_colnames = True)
frequent_books

    support                                          itemsets
0    0.4230                                        (ChildBks)
1    0.2475                                        (YouthBks)
2    0.4310                                         (CookBks)
3    0.2820                                        (DoItYBks)
4    0.2145                                          (RefBks)
..      ...                                               ...
95   0.0600            (YouthBks, DoItYBks, CookBks, GeogBks)
96   0.0560              (ArtBks, YouthBks, CookBks, GeogBks)
97   0.0650              (ArtBks, DoItYBks, CookBks, GeogBks)
98   0.0510  (CookBks, GeogBks, ChildBks, YouthBks, DoItYBks)
99   0.0535    (ArtBks, CookBks, GeogBks, ChildBks, DoItYBks)

[100 rows x 2 columns]

In [6]:
frequent_books1 = apriori(arules, min_support=0.005,max_len=3,use_colnames = True)
frequent_books1

     support                        itemsets
0     0.4230                      (ChildBks)
1     0.2475                      (YouthBks)
2     0.4310                       (CookBks)
3     0.2820                      (DoItYBks)
4     0.2145                        (RefBks)
..       ...                             ...
219   0.0130   (ItalCook, Florence, GeogBks)
220   0.0115   (ItalAtlas, ItalArt, GeogBks)
221   0.0090    (Florence, ItalArt, GeogBks)
222   0.0125  (ItalAtlas, ItalCook, ItalArt)
223   0.0095   (ItalCook, Florence, ItalArt)

[224 rows x 2 columns]

In [7]:
frequent_books.sort_values('support',ascending = False,inplace=True)
frequent_books.sort_values

<bound method DataFrame.sort_values of     support                                          itemsets
2    0.4310                                         (CookBks)
0    0.4230                                        (ChildBks)
3    0.2820                                        (DoItYBks)
6    0.2760                                         (GeogBks)
10   0.2560                               (ChildBks, CookBks)
..      ...                                               ...
94   0.0525             (ArtBks, YouthBks, DoItYBks, CookBks)
52   0.0525                     (ChildBks, ItalCook, GeogBks)
83   0.0515             (ChildBks, YouthBks, GeogBks, RefBks)
81   0.0510            (ChildBks, YouthBks, ArtBks, DoItYBks)
98   0.0510  (CookBks, GeogBks, ChildBks, YouthBks, DoItYBks)

[100 rows x 2 columns]>

In [8]:
rules = association_rules(frequent_books, metric="lift", min_threshold=1)
rules.head(20)
rules.sort_values('lift',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
419,"(YouthBks, CookBks)",(ItalCook),0.1620,0.1135,0.0590,0.364198,3.208789,0.040613,1.394301
422,(ItalCook),"(YouthBks, CookBks)",0.1135,0.1620,0.0590,0.519824,3.208789,0.040613,1.745193
565,"(CookBks, GeogBks)","(ChildBks, ItalCook)",0.1925,0.0850,0.0525,0.272727,3.208556,0.036137,1.258125
560,"(ChildBks, ItalCook)","(CookBks, GeogBks)",0.0850,0.1925,0.0525,0.617647,3.208556,0.036137,2.111923
561,"(ChildBks, CookBks)","(ItalCook, GeogBks)",0.2560,0.0640,0.0525,0.205078,3.204346,0.036116,1.177474
564,"(ItalCook, GeogBks)","(ChildBks, CookBks)",0.0640,0.2560,0.0525,0.820312,3.204346,0.036116,4.140522
512,"(ChildBks, ArtBks, CookBks)","(DoItYBks, GeogBks)",0.1265,0.1325,0.0535,0.422925,3.191886,0.036739,1.503271
529,"(DoItYBks, GeogBks)","(ChildBks, ArtBks, CookBks)",0.1325,0.1265,0.0535,0.403774,3.191886,0.036739,1.465047
567,(ItalCook),"(ChildBks, CookBks, GeogBks)",0.1135,0.1495,0.0525,0.462555,3.094014,0.035532,1.582488
558,"(ChildBks, CookBks, GeogBks)",(ItalCook),0.1495,0.1135,0.0525,0.351171,3.094014,0.035532,1.366307

In [9]:
rules = association_rules(frequent_books1, metric="lift", min_threshold=1)
rules.head(20)
rules.sort_values('lift',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
942,"(ItalArt, RefBks)",(ItalAtlas),0.0200,0.0370,0.0165,0.825000,22.297297,0.015760,5.502857
943,(ItalAtlas),"(ItalArt, RefBks)",0.0370,0.0200,0.0165,0.445946,22.297297,0.015760,1.768780
1005,(ItalArt),"(ItalAtlas, ArtBks)",0.0485,0.0180,0.0165,0.340206,18.900344,0.015627,1.488344
1000,"(ItalAtlas, ArtBks)",(ItalArt),0.0180,0.0485,0.0165,0.916667,18.900344,0.015627,11.418000
993,(ItalArt),"(ArtBks, ItalCook)",0.0485,0.0565,0.0375,0.773196,13.684883,0.034760,4.159977
988,"(ArtBks, ItalCook)",(ItalArt),0.0565,0.0485,0.0375,0.663717,13.684883,0.034760,2.829461
924,"(ItalCook, RefBks)",(ItalAtlas),0.0465,0.0370,0.0230,0.494624,13.368207,0.021279,1.905511
925,(ItalAtlas),"(ItalCook, RefBks)",0.0370,0.0465,0.0230,0.621622,13.368207,0.021279,2.519964
1031,"(ItalAtlas, GeogBks)",(ItalArt),0.0205,0.0485,0.0115,0.560976,11.566507,0.010506,2.167306
1034,(ItalArt),"(ItalAtlas, GeogBks)",0.0485,0.0205,0.0115,0.237113,11.566507,0.010506,1.283939

In [10]:
amovies=pd.read_csv("my_movies.csv")
amovies

,V1,V2,V3,V4,V5,Sixthsense,Gladiator,LOTR1,Harrypotter1,Patriot,LOTR2,Harrypotter2,LOTR,Braveheart,Greenmile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [11]:
amovies.describe()

,Sixthsense,Gladiator,LOTR1,Harrypotter1,Patriot,LOTR2,Harrypotter2,LOTR,Braveheart,Greenmile
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,0.600000,0.700000,0.200000,0.200000,0.600000,0.200000,0.100000,0.100000,0.100000,0.200000
std,0.516398,0.483046,0.421637,0.421637,0.516398,0.421637,0.316228,0.316228,0.316228,0.421637
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
amovies1=amovies.drop(['V1','V2','V3','V4','V5'],axis=1)
amovies1

,Sixthsense,Gladiator,LOTR1,Harrypotter1,Patriot,LOTR2,Harrypotter2,LOTR,Braveheart,Greenmile
0,1,0,1,1,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,1,0
2,0,0,1,0,0,1,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0
5,1,1,0,0,1,0,0,0,0,0
6,0,0,0,1,0,0,1,0,0,0
7,0,1,0,0,1,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0
9,1,1,0,0,0,0,0,1,0,1

In [13]:
amovies1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sixthsense    10 non-null     int64
 1   Gladiator     10 non-null     int64
 2   LOTR1         10 non-null     int64
 3   Harrypotter1  10 non-null     int64
 4   Patriot       10 non-null     int64
 5   LOTR2         10 non-null     int64
 6   Harrypotter2  10 non-null     int64
 7   LOTR          10 non-null     int64
 8   Braveheart    10 non-null     int64
 9   Greenmile     10 non-null     int64
dtypes: int64(10)
memory usage: 928.0 bytes

In [33]:
from mlxtend.frequent_patterns import apriori,association_rules
frequent_movies = apriori(amovies1, min_support=0.005,max_len=4,use_colnames = True)
frequent_movies

    support                                      itemsets
0       0.6                                  (Sixthsense)
1       0.7                                   (Gladiator)
2       0.2                                       (LOTR1)
3       0.2                                (Harrypotter1)
4       0.6                                     (Patriot)
5       0.2                                       (LOTR2)
6       0.1                                (Harrypotter2)
7       0.1                                        (LOTR)
8       0.1                                  (Braveheart)
9       0.2                                   (Greenmile)
10      0.5                       (Gladiator, Sixthsense)
11      0.1                           (Sixthsense, LOTR1)
12      0.1                    (Sixthsense, Harrypotter1)
13      0.4                         (Patriot, Sixthsense)
14      0.1                           (LOTR2, Sixthsense)
15      0.1                            (Sixthsense, LOTR)
16      0.2                       (Sixthsense, Greenmile)
17      0.6                          (Gladiator, Patriot)
18      0.1                             (Gladiator, LOTR)
19      0.1                       (Gladiator, Braveheart)
20      0.1                        (Gladiator, Greenmile)
21      0.1                         (Harrypotter1, LOTR1)
22      0.2                                (LOTR2, LOTR1)
23      0.1                            (LOTR1, Greenmile)
24      0.1                         (LOTR2, Harrypotter1)
25      0.1                  (Harrypotter2, Harrypotter1)
26      0.1                     (Harrypotter1, Greenmile)
27      0.1                         (Braveheart, Patriot)
28      0.1                            (LOTR2, Greenmile)
29      0.1                             (LOTR, Greenmile)
30      0.4              (Gladiator, Patriot, Sixthsense)
31      0.1                 (Gladiator, Sixthsense, LOTR)
32      0.1            (Gladiator, Sixthsense, Greenmile)
33      0.1             (Harrypotter1, Sixthsense, LOTR1)
34      0.1                    (LOTR2, Sixthsense, LOTR1)
35      0.1                (Sixthsense, LOTR1, Greenmile)
36      0.1             (LOTR2, Sixthsense, Harrypotter1)
37      0.1         (Sixthsense, Harrypotter1, Greenmile)
38      0.1                (LOTR2, Sixthsense, Greenmile)
39      0.1                 (Sixthsense, LOTR, Greenmile)
40      0.1              (Gladiator, Braveheart, Patriot)
41      0.1                  (Gladiator, LOTR, Greenmile)
42      0.1                  (LOTR2, Harrypotter1, LOTR1)
43      0.1              (Harrypotter1, LOTR1, Greenmile)
44      0.1                     (LOTR2, LOTR1, Greenmile)
45      0.1              (LOTR2, Harrypotter1, Greenmile)
46      0.1      (Gladiator, Sixthsense, LOTR, Greenmile)
47      0.1      (LOTR2, Harrypotter1, Sixthsense, LOTR1)
48      0.1  (Harrypotter1, Sixthsense, LOTR1, Greenmile)
49      0.1         (LOTR2, Sixthsense, LOTR1, Greenmile)
50      0.1  (LOTR2, Sixthsense, Harrypotter1, Greenmile)
51      0.1       (LOTR2, Harrypotter1, LOTR1, Greenmile)

In [34]:
frequent_movies.sort_values('support',ascending = False,inplace=True)
frequent_movies.sort_values

<bound method DataFrame.sort_values of     support                                      itemsets
1       0.7                                   (Gladiator)
0       0.6                                  (Sixthsense)
4       0.6                                     (Patriot)
17      0.6                          (Gladiator, Patriot)
10      0.5                       (Gladiator, Sixthsense)
30      0.4              (Gladiator, Patriot, Sixthsense)
13      0.4                         (Patriot, Sixthsense)
9       0.2                                   (Greenmile)
22      0.2                                (LOTR2, LOTR1)
16      0.2                       (Sixthsense, Greenmile)
2       0.2                                       (LOTR1)
3       0.2                                (Harrypotter1)
5       0.2                                       (LOTR2)
48      0.1  (Harrypotter1, Sixthsense, LOTR1, Greenmile)
47      0.1      (LOTR2, Harrypotter1, Sixthsense, LOTR1)
34      0.1                    (LOTR2, Sixthsense, LOTR1)
35      0.1                (Sixthsense, LOTR1, Greenmile)
36      0.1             (LOTR2, Sixthsense, Harrypotter1)
37      0.1         (Sixthsense, Harrypotter1, Greenmile)
38      0.1                (LOTR2, Sixthsense, Greenmile)
39      0.1                 (Sixthsense, LOTR, Greenmile)
40      0.1              (Gladiator, Braveheart, Patriot)
41      0.1                  (Gladiator, LOTR, Greenmile)
42      0.1                  (LOTR2, Harrypotter1, LOTR1)
43      0.1              (Harrypotter1, LOTR1, Greenmile)
50      0.1  (LOTR2, Sixthsense, Harrypotter1, Greenmile)
32      0.1            (Gladiator, Sixthsense, Greenmile)
44      0.1                     (LOTR2, LOTR1, Greenmile)
45      0.1              (LOTR2, Harrypotter1, Greenmile)
49      0.1         (LOTR2, Sixthsense, LOTR1, Greenmile)
46      0.1      (Gladiator, Sixthsense, LOTR, Greenmile)
33      0.1             (Harrypotter1, Sixthsense, LOTR1)
26      0.1                     (Harrypotter1, Greenmile)
31      0.1                 (Gladiator, Sixthsense, LOTR)
18      0.1                             (Gladiator, LOTR)
6       0.1                                (Harrypotter2)
7       0.1                                        (LOTR)
8       0.1                                  (Braveheart)
11      0.1                           (Sixthsense, LOTR1)
12      0.1                    (Sixthsense, Harrypotter1)
14      0.1                           (LOTR2, Sixthsense)
15      0.1                            (Sixthsense, LOTR)
19      0.1                       (Gladiator, Braveheart)
29      0.1                             (LOTR, Greenmile)
20      0.1                        (Gladiator, Greenmile)
21      0.1                         (Harrypotter1, LOTR1)
23      0.1                            (LOTR1, Greenmile)
24      0.1                         (LOTR2, Harrypotter1)
25      0.1                  (Harrypotter2, Harrypotter1)
27      0.1                         (Braveheart, Patriot)
28      0.1                            (LOTR2, Greenmile)
51      0.1       (LOTR2, Harrypotter1, LOTR1, Greenmile)>

In [35]:
rules = association_rules(frequent_movies, metric="lift", min_threshold=1)
rules.head(20)
rules.sort_values('lift',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
23,"(Sixthsense, LOTR1)","(Harrypotter1, Greenmile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
141,"(LOTR1, Greenmile)","(LOTR2, Sixthsense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
109,"(Sixthsense, Harrypotter1)","(LOTR2, Greenmile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
108,"(LOTR2, Greenmile)","(Sixthsense, Harrypotter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
106,"(LOTR2, Sixthsense)","(Harrypotter1, Greenmile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
39,"(Sixthsense, LOTR1)","(LOTR2, Harrypotter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
38,"(Harrypotter1, LOTR1)","(LOTR2, Sixthsense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
35,"(LOTR2, Sixthsense)","(Harrypotter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
34,"(LOTR2, Harrypotter1)","(Sixthsense, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
25,"(LOTR1, Greenmile)","(Harrypotter1, Sixthsense)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [ ]:
#various values of support,minimum threshold and max length are conidered and best is taken